@font-face {
    font-family: 'Fedra Sans';
    src: url('subset-FedraSansBangla-Demi.woff2') format('woff2'),
        url('subset-FedraSansBangla-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

