@font-face {
    font-family: 'Lal Sabuj';
    src: url('subset-EkusheyLalSabujNormal.woff2') format('woff2'),
        url('subset-EkusheyLalSabujNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

