@font-face {
    font-family: 'Abakas';
    src: url('Abakas.woff2') format('woff2'),
        url('Abakas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
